<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="register-body">
    {% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/CSS/register.css' %}">
    <div class="content-section register-content" >
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom pt-5 mb-4">Log In</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group signup-btn">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3 signin-btn d-flex align-items-center flex-column">
            <small class="text-muted">
                Need An Account?<a class="ml-2" href="{% url 'users:register' %}">Sign Up Now</a>
            </small>
            <small class="text-muted">
                <a class="ml-2" href="{% url 'share:index' %}">Continue As a Guest</a>
                (You Need An Account To Be Able To Upload File)
            </small>
        </div>

    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>
</html>