<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logouts</title>
</head>
<body class="logout-body">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/CSS/logout.css' %}">
    <h1>You have been logged out</h1>
    <div class="border-top pt-3 signin-btn">
        <small class="text-muted">
            Already Have An Account?<a href="{% url 'users:login' %}">Log In Again</a>
        </small>
    </div>
</body>
</html>