.register-content {
    padding: 0 30%;
}

.register-body {
    background: url("/static/users/Images/background.jpg") repeat center center fixed;
    background-size: cover;
}

.signup-btn, .signin-btn {
    display: flex;
    justify-content: center;

}